body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s; /* Transição suave */
}

header {
    background-color: hotpink;
    color: white;
    padding: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}